{erl_opts, [debug_info]}.
{deps, [
  {ranch, ".*", {git,"git@github.com:ninenines/ranch.git", {tag, "1.8.0"}}},
  {cowlib, ".*", {git, "git@github.com:ninenines/cowlib.git", {tag, "2.11.0"}}},
  {cowboy, ".*", {git, "git@github.com:ninenines/cowboy.git", {tag, "2.9.0"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [server]}
]}.
